In [1]:
%pip install pymysql

Requirement already satisfied: pymysql in c:\users\alvar\anaconda3\lib\site-packages (1.0.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
pd.set_option('display.max_columns', None)

import mysql.connector as conn

from sqlalchemy import create_engine

actor=pd.read_csv('./Proyecto-SQL/data_limpio/actor.csv')
category=pd.read_csv('./Proyecto-SQL/data_limpio/category.csv')
film=pd.read_csv('./Proyecto-SQL/data_limpio/film.csv')
inventory=pd.read_csv('./Proyecto-SQL/data_limpio/inventory.csv')
language=pd.read_csv('./Proyecto-SQL/data_limpio/language.csv')
old_HDD=pd.read_csv('./Proyecto-SQL/data_limpio/old_HDD.csv')
rental=pd.read_csv('./Proyecto-SQL/data_limpio/rental.csv')

In [3]:
str_conn='mysql+pymysql://root:1234@localhost:3306'

cursor=create_engine(str_conn)

cursor.execute('drop database if exists cinema;')

cursor.execute('create database cinema;')

In [19]:
str_conn='mysql+pymysql://root:1234@localhost:3306/cinema'

cursor=create_engine(str_conn)

In [5]:
actor.to_sql(name='actor', con=cursor, if_exists='replace', index=False)
category.to_sql(name='category', con=cursor, if_exists='replace', index=False)
film.to_sql(name='film', con=cursor, if_exists='replace', index=False)
inventory.to_sql(name='inventory', con=cursor, if_exists='replace', index=False)
language.to_sql(name='language', con=cursor, if_exists='replace', index=False)
old_HDD.to_sql(name='old_HDD', con=cursor, if_exists='replace', index=False)
rental.to_sql(name='rental', con=cursor, if_exists='replace', index=False)

C:\Users\alvar\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'old_HDD' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

1000

In [21]:
old_HDD.to_sql(name='old_HDD', con=cursor, if_exists='replace', index=False)

1000

In [16]:
# AÃ±adimos las primary key de las tablas
cursor.execute('alter table actor add primary key (actor_id);')
cursor.execute('alter table category add primary key (category_id);')
cursor.execute('alter table film add primary key (film_id);')
cursor.execute('alter table inventory add primary key (inventory_id);')
cursor.execute('alter table language add primary key (language_id);')
cursor.execute('alter table rental add primary key (rental_id);')